* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul, li {
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

header {
  width: 100%;
  max-width: 1280px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  margin: 20px;
}

.band{
  border-bottom: 1px solid #aaa;
}
#logo {
  display: inline-block;
  color: #00B38A;
  padding: 10px;
  text-decoration: none;
  &:hover{
    text-decoration:none;
  }
}

.hero{
  height: 200px;
  background-color: #00bfa5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
}
section {
  width: 99%;
  max-width: 1280px;
  margin: 0 auto;
}

section nav {
  float: right;
  width: 20%;
  height: 100%;
  padding: 20px;
}

section nav .filter {
  height: 40px;
  background-color: #EBF0EF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section nav .filter input {
  height: 30px;
  width: 95%;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 2px;
}

section nav ul {
  margin-top: 10px;
}

section nav li {
  font-size: 20px;
  height: 1.5em;
  cursor: pointer;
  padding-left: 15px;
}
section nav li:hover {
  color: #666;
}
section nav li.active {
  color: #666;
}


section aside .toolbar {
  height: 50px;
  line-height: 50px;
  background-color: #26a69a;
  color: white;
  font-size: 20px;
  padding-left: 20px;
  position: relative;
}

section aside .toolbar .view-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: url(img/view.svg) 50% 50% no-repeat;
  cursor: pointer;
}

section aside {
  margin-right: calc(20% + 50px);
  padding: 20px;
  border: 1px solid #eee;
}

section aside .tabs {
  height: 40px;
  background-color: #00bfa5;
}
section aside .tabs > span {
  display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100px;
    padding: 0 15px;
    color: white;
    border-bottom: 2px solid #00bfa5;
    cursor: pointer;
    color: rgb(170,209,249);
    text-align: center;
}
section aside .tabs > span.active {
  color: white;
  border-bottom-color: red;
}

section aside .code-contents {
  overflow: hidden;
  border-bottom: 1px solid #e3e3e3;
}

section aside .code-contents pre {
  height: 100%;
  overflow: auto;
  margin-top: 0;
  border-left: none !important;
  padding-left: 10px !important;
}

section aside iframe {
  width: 100%;
  border: none;
}


#logo{
  width: 100%;
}


.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }

  iframe{
    width: 100%;
    /* height: 500px; */
    border: none;
  }

  .demo-title{
    padding-bottom: 9px;
    margin: 20px 0 20px;
  }
