<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flex Table</title>
  <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
  <div class="container">
    <div class="flex-table">
      <div class="flex-table-inner">
        <div class="table-header">
          <div class="level1">
            <div class="row last">
              <div class="field">
                Field1</div>
              <div class="level2 last">
                <div class="row">
                  <div class="field">Field2</div>
                  <div class="level3 last">
                    <div class="row">
                      <div class="field">Field3</div>
                      <div class="field last">Field4</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-body-wrapper">
        <div class="table-body">
          <div class="level1">
            <div class="row last">
              <div class="field">
                1</div>
              <div class="level2 last">
                <div class="row">
                  <div class="field">2</div>
                  <div class="level3 last">
                    <div class="row">
                      <div class="field">3</div>
                      <div class="field last">4</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="field">2</div>
                  <div class="level3 last">
                    <div class="row">
                      <div class="field">3</div>
                      <div class="field last">4</div>
                    </div>
                    <div class="row">
                      <div class="field">3</div>
                      <div class="field last">4</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="level1">
            <div class="row last">
              <div class="field">
                1</div>
              <div class="level2 last">
                <div class="row">
                  <div class="field">2</div>
                  <div class="level3 last">
                    <div class="row">
                      <div class="field">3</div>
                      <div class="field last">4</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="field">2</div>
                  <div class="level3 last">
                    <div class="row">
                      <div class="field">3</div>
                      <div class="field last">4</div>
                    </div>
                    <div class="row">
                      <div class="field">3</div>
                      <div class="field last">4</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></div>
      </div>
    </div>
  </div>
</body>
</html>
