.container {
  display: block;
  overflow: auto;
}

.container .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.container .row > *:not(.last) {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}
.container .row > *.last {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.field {
  -webkit-flex-basis: 70px;
      -ms-flex-preferred-size: 70px;
          flex-basis: 70px;
  width: 70px;
  padding: 10px 20px;
}

[class*=level] .row {
  margin: 5px;
}

.table-body-wrapper {
  width: 100%;
}

.table-body .level1 > .row {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background: gray;
}
.table-body .level2 > .row {
  background: blue;
}
.table-body .level3 > .row {
  background: green;
}
.table-body [class*=level] > .row {
  position: relative;
}
.table-body [class*=level] > .row:before {
  content: '';
  border: 10px solid transparent;
  border-left-color: gray;
  border-right: none;
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.table-body .level3 > .row:before {
  border-left-color: blue;
}
.table-body .level1 > .row:before {
  border-left-color: #fff;
}

.table-header .row {
  margin-top: 0;
  margin-bottom: 0;
}
