<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <a class="notify-box" href="#">10 Messages <span class="circle circle-purge"></span></a>
    <a class="notify-box" href="#">10 Messages <span class="circle circle-green"></span></a>
    <a class="notify-box" href="#">10 Messages <span class="circle circle-red"></span></a>
    <a class="notify-box" href="#">10 Messages <span class="circle circle-blue"></span></a>
    <a class="notify-box" href="#">10 Messages <span class="circle circle-yellow"></span></a>
  </body>
</html>
